body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 16px;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .logo{
    display: inline-block;
    font-size: 27px;
}

header .logo .blue_dot {
    background-color: #000;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}

header nav {
    display: inline-block;  
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li a#left_header:hover {
    color: #000;
}

header nav ul li a#right_header:hover {
    color: #87898F;
}

header nav ul li:last-of-type a {
    margin-right: 0;
}

section .product-slider {
    margin-top: 70px;
}

section .product-slider .product {
    border-radius: 30px;
    border: 1px solid #DDD;
    margin: 18px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

section .product-slider .product.new::before {
    content: "New";
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 21px;
    text-align: center;
    padding: 4px 15px;
    border-radius: 40px;
    background-color: #000;
    color: #FFF;
}

section .product-slider .product .product-info {
    padding: 50px; 
}

section .product-slider .product .product-picture {
    padding: 60px;
}

.small-image-group {
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 49%;
}

section .product-slider .product .product-info .categories{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 0;
}

section .product-slider .product .product-info .title{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 6px;
    font-weight: normal;
    margin-top: 0;
}

section .product-slider .product .product-info .description{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 12px;
}

section .product-slider .product .product-info .specification {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 12px;
}

section .product-slider .product .product-info .price{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.7px;
    line-height: 30px;
    margin-bottom: 22px;
    margin-top: 0;
}

section .product-slider .product .product-info .audio{
    display: flex;
    justify-content: flex-start;
}

section .product-slider .product .product-info .price .discounted-price{
    color: #000;
}

section .product-slider .product .product-info .price .original-price{
    color: #000;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 30px;
    text-decoration: line-through;
}

section .product-slider .product .product-info button{
    height: 50px;
    width: 200.5px;
    border: 1px solid #000;
    background-color: white;
    border-radius: 220px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    cursor: pointer;
    margin-left: 35px;
}

section .product-slider .product-info button:hover {
    border-color: #87898F;
    background-color: #87898F;
}

section.best-sellers {
    padding-top: 80px;
}

section.best-sellers h2 {
    text-align: center;
    font-size: 26px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

section.best-sellers hr {
    border: none;
    border-top: 5px solid #000;
    width: 66px;
}

section.best-sellers .product-s {
    margin-top: 76px;
}

section.best-sellers .container {
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}

section.best-sellers .product-s .product img {
    max-width: 100%;
}

section.best-sellers .product-s .product {
    border-radius: 8px;
    border: 1px solid #DDD;
    width: 33%;
    text-align: center;
    margin: 0 8px;
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.best-sellers .product-s .product.new::before {
    content: "New";
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 21px;
    text-align: center;
    padding: 4px 15px;
    border-radius: 40px;
    background-color: #000;
    color: #FFF;
}

section.best-sellers .product-s .product .product-info{
    margin-top: 50px;
}

section.best-sellers .product-s .product .product-info .categories{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 0;
}

section.best-sellers .product-s .product .product-info .title{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 6px;
    font-weight: normal;
    margin-top: 0;
}

section.best-sellers .product-s .product .product-info .price{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.7px;
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 0;
}

section.best-sellers .product-s .product .product-info .price .discounted-price{
    color: #000;

}

section.best-sellers .product-s .product .product-info .price .original-price{
    color: #000;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 30px;
    text-decoration: line-through;
}

section.best-sellers .product-s .product .product-info button{
    height: 50px;
    width: 219.5px;
    border: 1px solid #000;
    background-color: white;
    border-radius: 220px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    cursor: pointer;
}

section.best-sellers .product-s .product-info button:hover {
    border-color: #87898F;
    background-color: #87898F;
} 

footer {
    margin-top: 80px;
}

footer .bottom-nav {
    padding: 60px 0;
    background-color: #161313;

}

footer .bottom-nav .container {
    max-width: 955px;
    display: flex;
    justify-content: space-between;
}

footer .bottom-nav ul {
    list-style: none;
}

footer .bottom-nav ul li a {
    color: #FFF;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

footer .bottom-nav ul li a:hover {
    color: #87898F;
}

footer .bottom-nav ul li.list-title {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
}

footer .copyright-text {
    color: #FFF;
    background-color: #000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 22px;
}